/* style.css */

body {
	/* font-family: Arial, sans-serif; */
	font-family: "Monda", sans-serif;
	background-color: #000000;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	align-items: flex-start; /* Align items to the top */
}

h1 {
	text-align: center;
	color: #F9EB0F;
}

h2 {
	color: #F9EB0F;
}

h3 {
	text-align: center;
	font-size: 12px;
	color: #F9EB0F;
}

p {
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

button {
	font-weight: bold;
	font-family: "Monda", sans-serif;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #F9EB0F;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	/* margin-top: 20px; */
}

button:hover {
	background-color: #d6c61a;
}

table {
	/* padding: 10px; */
	width: auto;
	display: block;
	/* height: 700px; */
	border-collapse: collapse;
	/* table-layout: auto; */
	/* overflow-y: hidden; */
	background-color: #999999;
	border-radius: 3px;
}

table, th, td {
	/* border: 1px solid black; */
	border: 2px solid #F9EB0F;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}


img {
	height: 150px;
	width: auto;
}

.custom-checkbox {
	transform: scale(2); 
}

.container {
	text-align: center;
	overflow: hidden;
	margin-top: -30px;
	margin-bottom: -40px;
	/* padding: 20px; */
	/* border-radius: 10px; */
	/* background-color: #fff; */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.tab-button {
	background-color: #F9EB0F;
	border: 1px solid #000000;
	padding: 10px;
	cursor: pointer;
	margin-right: -5px;
	margin-top: -10px;
}

.tab-button2 {
	background-color: #F9EB0F;
	border: 1px solid #000000;
	padding: 10px;
	cursor: pointer;
	margin-right: 5px;
	margin-top: -5px;
}

.tooltip-container {
	position: relative;
	display: inline-block;
}

.tooltip-text {
	visibility: hidden;
	/* width: 400px; */
	background-color: black;
	color: #fff;
	text-align: center;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	bottom: 125%; /* Show above the button */
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
	border-color: #F9EB0F;
}

.tooltip-text-bottom {
	visibility: hidden;
	/* width: 400px; */
	background-color: black;
	color: #fff;
	text-align: center;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text-bottom {
	visibility: visible;
	opacity: 1;
	border-color: #F9EB0F;
}

.tab-button:hover {
	
}

.game-button {
	
}

.bug-button {
	background-color: #FFC100
}

.bot-button {
	background-color: #FE6D72
}

.squid-button{
	color: white;
	background-color: #6B3ABA
}

.chaos-button {
	color: white;
	background-color: #000000;
	border: 1px solid #ffffff;
}

.defeat-button {
	background-color: #F0080C
}

.bug-button:hover {
	background-color: #BF9100
}

.bot-button:hover {
	background-color: #C75559
}

.squid-button:hover {
	background-color: #583099
}

.chaos-button:hover {
	background-color: #2E2E2E
}

.defeat-button:hover {
	background-color: #C2070A
}

.row {
	justify-content: center;
	display: flex;
	margin-top: 5px;
	gap: 10px;  /* Space between buttons in a row */
}

.specialRow {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-self: stretch;
}

.specialRow2 {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	justify-self: stretch;
}

.specialRow3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-self: stretch;
}

.enemy-row {
	justify-content: center;
	display: flex;
	margin-top: 5px;
	gap: 10px;  /* Space between buttons in a row */
}

.game-row {
	justify-content: center;
	display: flex;
	margin-top: 5px;
	gap: 10px;  /* Space between buttons in a row */
}

.tab-content {
	display: none;
	margin-top: 80px;
	/* overflow: hidden; */
	flex-direction: row;
	z-index: 1;
	/* padding: 80px; */
	/* border: 1px solid #ccc; */
}

.button-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 15px; /* Optional, to add some space from the very top */
	/* position: fixed; */
	z-index: 10;
}

.checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: scale(2);
	margin-bottom: 20px;
	color: #F9EB0F;
}

/* Mobile formatting controls */
@media (max-device-width: 1024px) or (max-device-height: 800px) {
	.tab-button {
			padding: 2px;
	}
	img {
			height: 65px;
	}
	.tab-content {
			margin-top: 50px;
	}
	table {
		font-size: 12px;
	}
}

@media (orientation: portrait) {
	.specialRow {
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		margin-top: 5px;
		grid-gap: 12px;
	}
	
	.tab-content {
			margin-top: 80px;
	}

	.landscape-message {
		display: flex;
	}
	
	.content {
		display: none;
	}
}

@media (orientation: landscape) {
	.specialRow {
		grid-template-columns: repeat(3, 2fr);
		justify-self: center;
		justify-content: center;
		margin-top: 5px;
		grid-gap: 8px;
		margin-bottom: 10px;
		width: 95vw;
		max-width: 100%;
	}
	
	.landscape-message {
		display: none;
	}
	
	.content {
		display: flex;
	}
}

/* #home { */
	/* display: block; Initially show the Home tab content */
/* } */







