/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
}

.tab-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  padding: 80px;
  border: 1px solid #ccc;
}

#home {
  display: block; /* Initially show the Home tab content */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

    table {
	  padding: 10px;
      width: 100%;
	  display: block;
	  height: 700px;
      border-collapse: collapse;
	  table-layout: auto;
	  overflow-y: scroll;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }
	

    img {
		width: auto;
    }
	
    body {
      margin: 0;
      height: 100vh;
      display: flex;
	  /* flex-direction: column; */
      justify-content: center;
      align-items: flex-start; /* Align items to the top */
      background-color: #f0f0f0;
    }

    .button-container {
      display: flex;
      gap: 10px;
      margin-top: 20px; /* Optional, to add some space from the very top */
	  position: fixed;
    }
	
    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }